<div class="employer-item">
    
        <h3><a [routerLink]="['/jobs', job.id]">{{job.name}}</a></h3>
        <ul>
            <li><i class="flaticon-send"></i> {{job.location.city}}</li>
            <li><a routerLink="/job-details" (click)="setFavourite()"><i class='bx bx-heart' (click)="setFavourite()"></i>Save</a></li>
            <li><a style="color: rgb(139, 30, 30);" (click)="applyJob()">Apply Now</a></li>
        </ul>
        <p>{{job.discription | slice:0:250}}...</p>
        <span class="span-one">{{job.category.name}}</span>
        <span class="span-two">{{job.employment}}</span>
</div>