<div class="employer-item">
    <a routerLink="/job-details">
        <!-- <img src="{{job.}}" alt="Employer"> -->
        <h3>{{job.name}}</h3>
        <ul>
            <li><i class="flaticon-send"></i> {{job.location.city}}</li>
            <li><a routerLink="/job-details"><i class='bx bx-heart'></i> Save</a></li>
            <li><input type="checkbox"><i class="flaticon-add133"></i><a routerLink="/job-details" style="color: red;">Apply Now</a></li>
        </ul>
        <p>{{job.shortDiscription}}</p>
        <span class="span-one">{{job.category.name}}</span>
        <span class="span-two">{{job.employment}}</span>
    </a>
</div>

