<div class="page-title-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="title-item">
          <h2>Jobs</h2>
          <ul>
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li><span>/</span></li>
            <li>Jobs</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="job-area-list ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <ul class="job-list-item align-items-center">
          <li>
            <a href="#">Results Found <span>
              <!-- ({{ jobs.length }}) -->
            </span></a>
          </li>
          <li>
            <span class="sort">Sort By:</span>
            <form>
              <div class="form-group">
                <select name="sort" (change)="sort($event.target.value)">
                  <option value="Name">Name</option>
                  <option value="Salary">Salary</option>
                  <option value="Experience">Experience</option>
                </select>
              </div>
            </form>
          </li>
        </ul>

        <div *ngFor="let job of jobs">
          <app-job-card [job]="job"></app-job-card>
        </div>

        <div class="pagination-area">
          <ul>
            <li>
              <!-- [routerLink]="['/jobsnew', currentPage - 1]" -->
              <a
                (click)="setPage(currentPage - 1)"
                [attr.readonly]="currentPage == 1"
                [ngStyle]="
                  currentPage == 1 && { background: '#fe4a55', color: 'white' }
                "
                >Prev.</a
              >
            </li>
            <li>
              <!-- [routerLink]="['/jobsnew', page]" -->
              <a
                *ngFor="let page of range(pageCount)"
                (click)="setPage(page)"
                [attr.readonly]="page == currentPage"
                [ngStyle]="
                  currentPage == page && {
                    background: '#fe4a55',
                    color: 'white'
                  }
                "
                >{{ page }}</a
              >
            </li>
            <li>
              <!-- [routerLink]="['/jobsnew', currentPage + 1]" -->
              <a
                [attr.readonly]="currentPage == pageCount"
                (click)="setPage(currentPage + 1)"
                [ngStyle]="
                  currentPage == pageCount && {
                    background: '#fe4a55',
                    color: 'white'
                  }
                "
                >Next</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="job-list-right">
          <div class="job-list-all">
            <div class="search">
              <h3>Search Keywords</h3>

              <form>
                <input type="text" class="form-control" placeholder="Keyword" />
                <button 
                 class="btn"
                 name="search"
                 [ngModel]="this.body.filters.keyWord"
                 (click)="setSearch()"
                 >
                  <i class="flaticon-send"></i>
                </button>
              </form>

              <h3>Category</h3>

              <form>
                <ul class="job-cmn-cat">
                  <li *ngFor="let category of categories">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="category.name"
                        value="{{ category.id }}"
                        id="defaultCheck1"
                        (change)="categoryFilter(category.id)"
                      />
                      <label class="form-check-label" for="defaultCheck1">{{
                        category.name
                      }}</label>
                    </div>
                  </li>
                </ul>
              </form>
            </div>

            <div class="location-list cmn-padding">
              <h3>Location List</h3>

              <form>
                <ul class="job-cmn-cat">
                  <li *ngFor="let location of locations">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="defaultCheck10"
                        name="{{ location.city }}"
                        (change)="filterLocation(location.id)"
                      />
                      <label class="form-check-label" for="defaultCheck10">
                        {{ location.city }}
                      </label>
                    </div>
                  </li>
                </ul>
              </form>
            </div>

            <div class="salary cmn-padding">
              <h3>Salary</h3>
              <form>
                <div class="job-cmn-cat flex-divide">
                  <ul class="left">
                    <div class="raw flex-divide">
                      <div class="col-sm-5">
                        <input
                          type="number"
                          class="form-control"
                          id="startSalary"
                          placeholder="0"
                          name="salaryStart"
                          [ngModel]="body.filters.salaryStart"
                          (keyup.enter)="(setSalary)"
                        />
                      </div>
                      <span>_</span>
                      <div class="col-sm-5">
                        <input
                          type="number"
                          class="form-control"
                          id="endSalary"
                          placeholder="50000"
                          name="salaryEnd"
                          [ngModel]="body.filters.salaryEnd"
                          (input)="(setSalary)"
                        />
                      </div>
                    </div>
                  </ul>
                </div>
              </form>
            </div>

            <div class="employer cmn-padding">
              <h3>Employer</h3>

              <form>
                <ul class="job-cmn-cat">
                  <li *ngFor="let employer of employers">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [value]="employer.id"
                        [name]="employer.name"
                        (change)="filterEmployer(employer.id)"
                      />
                      <label class="form-check-label" for="defaultCheck35">{{
                        employer.name
                      }}</label>
                    </div>
                  </li>
                </ul>
              </form>
            </div>

            <div class="experience cmn-padding">
              <h3>Experience</h3>

              <form>
                <div class="job-cmn-cat flex-divide">
                  <ul class="left">
                    <li>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="defaultCheck48"
                          (click)="setExperience(5)"
                        />
                        <label class="form-check-label" for="defaultCheck48"
                          >5 Years
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="defaultCheck49"
                          (click)="setExperience(4)"
                        />
                        <label class="form-check-label" for="defaultCheck49"
                          >4 Years
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="defaultCheck50"
                          (click)="setExperience(3)"
                        />
                        <label class="form-check-label" for="defaultCheck50"
                          >3 Years
                        </label>
                      </div>
                    </li>
                  </ul>

                  <ul class="right">
                    <li>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="defaultCheck51"
                          (click)="setExperience(2)"
                        />
                        <label class="form-check-label" for="defaultCheck51"
                          >2 Years
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="defaultCheck52"
                          (click)="setExperience(1)"
                        />
                        <label class="form-check-label" for="defaultCheck52"
                          >1 Year
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </form>
            </div>

            <div class="level">
              <form>
                <button type="submit" class="btn">Filter Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
