<div class="page-title-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="title-item">
          <h2>Jobs</h2>
          <ul>
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li><span>/</span></li>
            <li>Jobs</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="job-area-list ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <ul class="job-list-item align-items-center">
          <li>
            <a href="#"
              >Results Found <span> ({{ resultCount }}) </span></a
            >
          </li>
          <li>
            <span class="sort">Sort By:</span>
            <form>
              <div class="form-group" >
                <select name="sort" (change)="sort($event.target.value)">
                  <option value="Name">Name</option>
                  <option value="Salary">Salary</option>
                  <option value="Experience">Experience</option>
                </select>
              </div>
            </form>
          </li>
        </ul>
        
        <div *ngIf="pageCount == 0" class="d-flex justify-content-center flex-column">
          <h1 class="text-center">Nothing was found</h1>
          <div class="level text-center mb-4">
            <button
              class="btn"
              (click)="reset()"
              style="
                background-color: #fe4a55;
                color: white;
              ">
              Reset Filters
            </button>
          </div>
        </div>
        <div *ngIf="pageCount != 0">
          <app-job-card *ngFor="let job of jobs" [job]="job"></app-job-card>
        </div>

        <div class="pagination-area">
          <ul>
            <li>
              <a
                (click)="setPage(currentPage - 1)"
                [attr.readonly]="currentPage == 1"
                [ngStyle]="
                  currentPage == 1 && { background: '#fe4a55', color: 'white' }
                "
                >Prev.</a
              >
            </li>
            <li>
              <a
                *ngFor="let page of range(pageCount)"
                (click)="setPage(page)"
                [attr.readonly]="page == currentPage"
                [ngStyle]="
                  currentPage == page && {
                    background: '#fe4a55',
                    color: 'white'
                  }
                "
                >{{ page }}</a
              >
            </li>
            <li>
              <a
                [attr.readonly]="currentPage == pageCount"
                (click)="setPage(currentPage + 1)"
                [ngStyle]="
                  currentPage == pageCount && {
                    background: '#fe4a55',
                    color: 'white'
                  }
                "
                >Next</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="job-list-right">
          <div class="job-list-all">
            <div class="search">
              <h3>Search Keywords</h3>

              <form>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Keyword"
                  id="search"
                  name="search"
                  [(ngModel)]="body.filters.keyWord"
                />
                <button class="btn" (click)="setSearch()">
                  <i class="flaticon-send"></i>
                </button>
              </form>

              <h3>Category</h3>

              <form>
                <ul class="job-cmn-cat">
                  <li *ngFor="let category of categories">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="category.name"
                        value="{{ category.id }}"
                        id="defaultCheck1"
                        (change)="categoryFilter(category.id)"
                      />
                      <label class="form-check-label" for="defaultCheck1">{{
                        category.name
                      }}</label>
                    </div>
                  </li>
                </ul>
              </form>
            </div>

            <div class="search">
              <h3>Location List</h3>

              <form>
                <ul class="job-cmn-cat">
                  <li *ngFor="let location of locations">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="defaultCheck10"
                        name="{{ location.city }}"
                        (change)="filterLocation(location.id)"
                      />
                      <label class="form-check-label" for="defaultCheck1">{{
                        location.city
                      }}</label>
                    </div>
                  </li>
                </ul>
              </form>
            </div>

            <div class="salary cmn-padding">
              <h3>Salary</h3>
              <form>
                <div class="job-cmn-cat flex-divide">
                  <ul class="left">
                    <div class="raw flex-divide">
                      <div class="col-sm-5">
                        <input
                          type="number"
                          class="form-control"
                          id="startSalary"
                          placeholder="0"
                          name="salaryStart"
                          [ngModel]="body.filters.salaryStart"
                          (keyup.enter)="(setSalary)"
                        />
                      </div>
                      <span>_</span>
                      <div class="col-sm-5">
                        <input
                          type="number"
                          class="form-control"
                          id="endSalary"
                          placeholder="50000"
                          name="salaryEnd"
                          [ngModel]="body.filters.salaryEnd"
                          (input)="(setSalary)"
                        />
                      </div>
                    </div>
                  </ul>
                </div>
              </form>
            </div>

            <div class="search">
              <h3>Employer</h3>

              <form>
                <ul class="job-cmn-cat">
                  <li *ngFor="let employer of employers">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [value]="employer.id"
                        [name]="employer.name"
                        (change)="filterEmployer(employer.id)"
                      />
                      <label class="form-check-label" for="defaultCheck1">{{
                        employer.name
                      }}</label>
                    </div>
                  </li>
                </ul>
              </form>
            </div>

            <div class="experience cmn-padding">
              <h3>Experience</h3>

              <form>
                <div class="job-cmn-cat flex-divide">
                  <ul class="left">
                    <li *ngFor="let year of years">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="defaultCheck48"
                          (click)="setExperience(year)"
                        />
                        <label class="form-check-label" for="defaultCheck48"
                          >{{ year }} {{ year == 1 ? "Year" : "Years" }}
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </form>
            </div>

            <div class="level">
              <form>
                <button class="btn" (click)="reset()">Reset Filters</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
