

<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Employers</h2>
                    <ul>
                        <li>
                            <img src="assets/img/home-three/title-img-two.png" alt="Image">
                            <a routerLink="/">Home</a>
                        </li>
                        <li><span>/</span></li>
                        <li>Employers</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Filter -->
<div class="job-filter-area pt-100">
    <div class="container">
        <form>
            <div class="row">
    

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <select>
                            <option>Filter By Category</option>
                            <option>Another option</option>
                            <option>A option</option>
                            <option>Potato</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <select>
                            <option>Filter By Location</option>
                            <option>Another option</option>
                            <option>A option</option>
                            <option>Potato</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <select>
                            <option>Filter By Languages</option>
                            <option>Another option</option>
                            <option>A option</option>
                            <option>Potato</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <select>
                            <option>Filter By Qualifications</option>
                            <option>Another option</option>
                            <option>A option</option>
                            <option>Potato</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <button type="submit" class="btn cmn-btn">Search By Filter <i class='bx bx-plus'></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Filter -->

<!-- Showing -->
<div class="job-showing-area">
    <div class="container">
        <h4>Showing 1 - 8 of 11 results</h4>

        <div class="showing">
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="left">
                        <div class="form-group">
                            <select>
                                <option>Newest</option>
                                <option>Another option</option>
                                <option>A option</option>
                                <option>Potato</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="right">
                        <ul>
                            <li><a routerLink="/"><i class='bx bx-dots-horizontal'></i></a></li>
                            <li><a routerLink="/"><i class='bx bx-menu'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Showing -->

<!-- Employer -->
<div class="employer-area two pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12" *ngFor="let employer of employers">
                <div class="employer-item">
                    <a routerLink="/employer-details" [queryParams] = "{id: employer.id}">
                        <h3>{{ employer.name }}</h3>
                        <ul>
                            <li><i class="flaticon-send"></i> {{employer.location}}</li>
                            <li><span>Team size {{ employer.teamSize }}</span></li>
                        </ul>
                        <p>{{employer.aboutUs | slice:0:250}}...</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="pagination-area">
            <ul>
                <li><a routerLink="/employers">Prev</a></li>
                <li><a routerLink="/employers">1</a></li>
                <li><a routerLink="/employers">2</a></li>
                <li><a routerLink="/employers">3</a></li>
                <li><a routerLink="/employers">Next</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- End Employer -->

<!-- Footer -->
<app-footer-style-two></app-footer-style-two>
<!-- End Footer -->