

<!-- Page Title -->
<div class="page-title-area two">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-8 col-md-12">
                        <div class="left">
                            <img src="assets/img/home-one/job3.png" alt="Details">
                            <h2>Tax Manager</h2>
                            <ul>
                                <li><i class='bx bx-pie-chart-alt-2'></i> Sales & Marketing</li>
                                <li><i class='bx bx-time'></i> New York, USA</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="right">
                            <!--<a class="cmn-btn" routeLink="/jobs">Available Positions <i class='bx bx-plus'></i></a>-->
                            <a routerLink="/jobsnew" class="cmn-btn nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Available Positions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Job Details -->
<div class="job-details-area employer-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="details-item">
                    <div class="details-inner">
                        <h3>About Company</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>                    
               
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="widget-area"> 
                    <div class="information widget-item">
                        <h3>Company Information</h3>

                        <ul>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Team Size</h4>
                                <span>50 - 100 Members</span>
                            </li>
                            <li>
                                <img src="assets/img/job-details-icon.png" alt="Details">
                                <h4>Location</h4>
                                <span>New York, USA</span>
                            </li>
                        </ul>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Job Details -->

<!-- Footer -->
<app-footer-style-two></app-footer-style-two>
<!-- End Footer -->