@model LoginViewModel
<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
        <div class="w-full lg:w-4/12 px-4">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                    <form asp-controller="Auth" asp-action="Login" method="post">
                        <input type="hidden" asp-for="ReturnUrl" class="mt-3" 
                        style="margin-top: 30px;" />
                        <div class="relative w-full mb-3 mt-5">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                   htmlFor="grid-password">
                                Email
                            </label>
                            <input type="text"
                                   class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                   placeholder="Email"
                                   asp-for="Email" />
                        </div>

                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                   htmlFor="grid-password">
                                Password
                            </label>
                            <input type="password"
                                   class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                   placeholder="Password"
                                   asp-for="Password" />
                        </div>
                        <div class="text-center mt-6">
                            <button class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                                    type="submit">
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="flex flex-wrap mt-6 relative">
                <div class="w-1/2">
                    <a asp-controller="Auth" asp-action="RegisterEmployer" asp-route-returnUrl="@Model.ReturnUrl" class="text-blueGray-200">
                        <small class="text-black">Create account as<br /> Employer</small>
                    </a>
                </div>
                <div class="w-1/2 text-right">
                    <a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-blueGray-200">
                        <small class="text-black">Create account as<br /> Employee</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
