<!-- Page Title -->
<div class="page-title-area two">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-lg-8 col-md-12">
            <div class="left">
              <img src="assets/img/job-details1.png" alt="Details" />
              <h2>{{ job.name }}</h2>
              <ul>
                <li><i class="bx bx-pie-chart-alt-2"></i> Sales & Marketing</li>
                <li><i class="bx bx-time"></i> {{ job.datePosted }}</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-12">
            <div class="right">
              <a class="cmn-btn" routerLink="/job-details"
                >Apply Now <i class="bx bx-plus"></i
              ></a>
              <ul>
                <li>
                  <a routerLink="/job-details"
                    ><i class="bx bx-heart"></i> Save</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<!-- Job Details -->
<div class="job-details-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="details-item">
          <div class="details-inner">
            <h3>Job Description</h3>
            <p>{{ job.discription }}</p>
          </div>

          <div class="details-inner">
            <h3>Our Company</h3>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as opposed to using 'Content here,
              content here.
            </p>
          </div>

          <div class="details-inner">
            <h3>Job Responsibilities</h3>
            <!-- <p>{{ job.responsibilities }}</p> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="widget-area">
          <div class="information widget-item">
            <h3>Job Information</h3>

            <ul>
              <li>
                <img src="assets/img/job-details-icon.png" alt="Details" />
                <h4>Salary</h4>
                <span>${{ job.salaryStart }} - ${{ job.salaryEnd }}</span>
              </li>
              <li>
                <img src="assets/img/job-details-icon.png" alt="Details" />
                <h4>Category</h4>
                <span>Sales & Marketing</span>
              </li>
              <li>
                <img src="assets/img/job-details-icon.png" alt="Details" />
                <h4>Location</h4>
                <span>{{ job.location }}</span>
              </li>

              <li>
                <img src="assets/img/job-details-icon.png" alt="Details" />
                <h4>Experience</h4>
                <span>{{ job.experience }} years</span>
              </li>
              <li>
                <img src="assets/img/job-details-icon.png" alt="Details" />
                <h4>Industry</h4>
                <span>Development</span>
              </li>
              <li>
                <img src="assets/img/job-details-icon.png" alt="Details" />
                <h4>Level</h4>
                <!-- <span>{{ job.qualifications }}</span> -->
              </li>
              <li>
                <img src="assets/img/job-details-icon.png" alt="Details" />
                <h4>Applied</h4>
                <span>01</span>
              </li>
            </ul>
          </div>

          <div class="owner">
            <div class="top">
              <img src="assets/img/home-one/job4.png" alt="Owner" />
              <h3>Owner Info</h3>
              <i class="flaticon-send"></i>
              <span>Los Angeles, CA, USA</span>
            </div>

            <div class="information widget-item">
              <ul>
                <li>
                  <img src="assets/img/job-details-icon.png" alt="Details" />
                  <h4>Phone</h4>
                  <a href="tel:+34561232349987">+3456 123 234 9987</a>
                </li>
                <li>
                  <img src="assets/img/job-details-icon.png" alt="Details" />
                  <h4>Email</h4>
                  <a href="mailto:hello@alzo.com">hello@alzo.com</a>
                </li>
                <li>
                  <img src="assets/img/job-details-icon.png" alt="Details" />
                  <h4>Location</h4>
                  <a href="#" target="_blank">www.alzothemes.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Job Details -->

<!-- Footer -->
<app-footer-style-two></app-footer-style-two>
<!-- End Footer -->
