<!-- Page Title -->
<div class="page-title-area two">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-lg-8 col-md-12">
            <div class="left">
              <h2>{{ job.name }}</h2>
              <ul>
                <li><i class="bx bx-pie-chart-alt-2"></i> Sales & Marketing</li>
                <li><i class="bx bx-time"></i> {{ job.datePosted | date }}</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="right">
              <a class="cmn-btn" (click)="applyJob()"
                >Apply Now <i class="bx bx-plus"></i
              ></a>
              <ul>
                <li>
                  <a routerLink="/job-details" (click)="setFavourite()"
                    ><i class="bx bx-heart"></i> Save</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<!-- Job Details -->
<div class="job-details-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="details-item">
          <div class="details-inner">
            <h3>Job Description</h3>
            <p>{{ job.discription }}</p>
          </div>

          <div class="details-inner">
            <h3>Our Company</h3>
            <p>
              {{ job.employer.aboutUs }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="widget-area">
          <div class="information widget-item">
            <h3>Job Information</h3>

            <ul>
              <li>
                <img src="assets/img/job-details-icon.png" alt="Details" />
                <h4>Salary</h4>
                <span>${{ job.salaryStart }} - ${{ job.salaryEnd }}</span>
              </li>
              <li>
                <img src="assets/img/job-details-icon.png" alt="Details" />
                <h4>Category</h4>
                <span>{{ job.category?.name }}</span>
              </li>
              <li>
                <img src="assets/img/job-details-icon.png" alt="Details" />
                <h4>Location</h4>
                <span>{{ job.location }}</span>
              </li>

              <li>
                <img src="assets/img/job-details-icon.png" alt="Details" />
                <h4>Experience</h4>
                <span>{{ job.experience }} years</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Job Details -->
