<!-- Page Title -->
<!-- Page Title -->
<div class="page-title-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="title-item">
          <h2>Dashboard</h2>
          <ul>
            <li>
              <img src="assets/img/home-three/title-img-two.png" alt="Image" />
              <a routerLink="/">Home</a>
            </li>
            <li><span>/</span></li>
            <li>Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<!-- Dashboard -->
<div class="dashboard-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="profile-item mb-5">
          <!-- <img src="assets/img/dashboard1.jpg" alt="Dashboard" /> -->
          <h2 *ngIf="isEmployee">
            {{ employee.firstName + " " + employee.lastName }}
          </h2>
          <h2 *ngIf="!isEmployee">{{ employer.name }}</h2>
        </div>

        <div
          class="nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
         
          <!-- Employee profile -->
        <a [hidden]="!isEmployee"
            class="nav-link active"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            href="#v-pills-home"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
            ><i class="bx bx-user"></i> My Profile</a
          >
          <!-- End Employee profile -->
        <!-- Employer profile -->
        <a [hidden]="isEmployee"
            class="nav-link"
            id="v-pills-home-employer-tab"
            data-bs-toggle="pill"
            href="#v-pills-employer-home"
            role="tab"
            aria-controls="v-pills-employer-home"
            aria-selected="false"
            ><i class="bx bx-user"></i> My Profile</a
          >
          <!-- End Employee profile -->
         
          <!-- Employee's Applied Jobs -->
          <a
            *ngIf="isEmployee"
            class="nav-link"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            href="#v-pills-messages"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            <div class="profile-list">
              <i class="bx bxs-inbox"></i>
              Applied Jobs
            </div>
          </a>
          <!-- End Employee's Applied Jobs -->
          <!-- Employee's Favorite Jobs -->
          <a
            *ngIf="isEmployee"
            class="nav-link"
            id="v-pills-favourites-tab"
            data-bs-toggle="pill"
            href="#v-pills-favourites"
            role="tab"
            aria-controls="v-pills-favourites"
            aria-selected="false"
          >
            <div class="profile-list">
              <i class="bx bxs-inbox"></i>
              Favourite Jobs
            </div>
          </a>
          <!-- End Employee's Favorite Jobs -->
          <!-- Employer's Jobs -->
          <a
            *ngIf="!isEmployee"
            class="nav-link"
            id="v-pills-jobs-employer-tab"
            data-bs-toggle="pill"
            href="#v-pills-employer-jobs"
            role="tab"
            aria-controls="v-pills-employer-jobs"
            aria-selected="false"
            ><i class="bx bxs-inbox"></i> My Jobs</a
          >
          <!-- End Employer's Jobs -->
          <!-- Logout -->
          <a routerLink="/login">
            <a class="login-left" (click)="logout()"
              ><i class="flaticon-enter"></i>Sign out</a
            >
          </a>
          <!-- End Logout -->
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="tab-content" id="v-pills-tabContent">
          <!-- Employee profile -->
          <div
            class="tab-pane fade show active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <div class="profile-content">
              <form>
                <div class="profile-content-inner">
                  <h2>Basic Info</h2>

                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>Your First Name:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="first-name"
                          name="firs-name"
                          [(ngModel)]="employee.firstName"
                          [value]="employee.firstName"
                        />
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>Your Last Name:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="last-name"
                          name="last-name"
                          [(ngModel)]="employee.lastName"
                          [value]="employee.lastName"
                        />
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>Your Email:</label>
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                          [(ngModel)]="employee.email"
                          [value]="employee.email"
                        />
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>Phone:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phone"
                          name="phone"
                          [value]="employee.phone"
                        />
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>CVLink:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="date-of-birth"
                          name="date-of-birth"
                          [value]="employee.cvLink"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn dashboard-btn"
                  (click)="updateEmployee()"
                >
                  Save Your Information
                </button>
              </form>
            </div>
          </div>
          <!-- End Employee profile -->
          <!-- Employer profile -->
          <div
            class="tab-pane fade"
            id="v-pills-employer-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-employer-tab"
          >
            <div class="profile-content">
              <form>
                <div class="profile-content-inner">
                  <h2>Basic Info</h2>

                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>Your Name:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          [(ngModel)]="employer.name"
                          [value]="employer.name"
                        />
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>Your Team Size:</label>
                        <input
                          type="number"
                          class="form-control"
                          id="teamSize"
                          name="teamSize"
                          [(ngModel)]="employer.teamSize"
                          [value]="employer.teamSize"
                        />
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>Your Location:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="location"
                          name="location"
                          [(ngModel)]="employer.location"
                          [value]="employee.phone"
                        />
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>Your Photo Link:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="photoLink"
                          name="photoLink"
                          [(ngModel)]="employer.photoLink"
                          [value]="employer.photoLink"
                        />
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                      <div class="form-group">
                        <label>Your About Us:</label>
                        <textarea
                          type="text"
                          class="form-control"
                          id="aboutUs"
                          name="aboutUs"
                          [(ngModel)]="employer.aboutUs"
                          [value]="employer.aboutUs"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn dashboard-btn"
                  (click)="updateEmployer()"
                >
                  Save Your Information
                </button>
              </form>
            </div>
          </div>
          <!-- End Employer profile -->
          <!-- Employee's Applied Jobs -->
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <div class="employer-item"  *ngFor="let job of appliedJobs" [routerLink]="['/jobs', job.id]">
              <a routerLink="/job-details">
                <img src="assets/img/home-one/job1.png" alt="Employer" />
                <h3>{{ job.name }}</h3>
                <ul>
                  <li><i class="flaticon-send"></i> {{job.location.city}}</li>
                  <li>{{job.datePosted | date}}</li>
                </ul>
                <p>
                  {{ job.discription }}
                </p>
                <span class="span-one">{{ job.shortDiscription }}</span>
                <span class="span-two">{{ job.employment }}</span>
              </a>
            </div>
          </div>
          <!-- Employee's Applied Jobs End -->

          <!-- Employee's saved jobs start-->
          <div
          class="tab-pane fade"
          id="v-pills-favourites"
          role="tabpanel"
          aria-labelledby="v-pills-favourites-tab"
        >
        <div class="employer-item"  *ngFor="let job of likedJobs" [routerLink]="['/jobs', job.id]">
          <a routerLink="/job-details">
            <img src="assets/img/home-one/job1.png" alt="Employer" />
            <h3>{{job.name}}</h3>
            <ul>
              <li><i class="flaticon-send"></i> {{job.location.city}}</li>
              <li>{{job.datePosted | date}}</li>
            </ul>
            <span class="span-one">{{job.category.name}}</span>
            <span class="span-two">{{job.employment}}</span>
          </a>
        </div>

        </div>
        <!-- Employee's saved jobs end-->
          <!-- Employer's Jobs -->
          <div
            class="tab-pane fade"
            id="v-pills-employer-jobs"
            role="tabpanel"
            aria-labelledby="v-pills-jobs-employer-tab"
          >
            <app-my-job-card
              *ngFor="let job of employer.jobs"
              [job]="job"
            ></app-my-job-card>
          </div>
          <!-- Employer's Jobs End -->
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-pills-favourites"
            role="tabpanel"
            aria-labelledby="v-pills-favourites-tab"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Dashboard -->
