<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Job Board</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a [routerLink]="['admin/employers']">Employers</a>
            </li>
            <li>
                <a [routerLink]="['admin/employees']">Employees</a>
            </li>
        </ul>
        
        <ul class="list-unstyled CTAs">
            <li>
                <a class="download">Exit</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <router-outlet></router-outlet>
    
    </div>
</div>