<div class="employer-item">
    
    <a [routerLink]="['/jobs', job.id]">
        <img src="assets/img/home-one/job1.png" alt="Employer" />
        <h3>{{job.name}}</h3></a>
        <ul>
            <li><a style="color: rgb(139, 30, 30);" routerLink="/update-a-job">Update</a></li>
            <li><a style="color: rgb(139, 30, 30);" (click)="delete()">Delete</a></li>
        </ul>
        <ul>
          <li><i class="flaticon-send"></i> {{job.location}}</li>
          <li>{{job.datePosted}}</li>
        </ul>
        <p>
          {{job.discription}}
        </p>
        <span class="span-one">{{job.discription | slice:0:250}}</span>
        <span class="span-two">{{job.employment}}</span>
</div>
